.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-card {
    border: 1px solid #ddd;
    padding: 16px;
    width: 100%;
    max-width: 1200px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-card-link {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.product-img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.product-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 170px);
}

.product-name {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: bold;
}

.product-description {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

.product-price {
    color: #e74c3c;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
}

.product-stock {
    color: #27ae60;
    font-size: 0.9em;
}