body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.top-bar {
  background-color: #f8f8f8;
  text-align: left;
  padding: 1px;
  font-size: 0.9em;
  color: #666;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5em;
}

.search-bar {
  display: flex;
  align-items: left;
}

.search-bar input {
  padding: 5px;
  margin-right: 5px;
}

.auth-buttons {
  display: flex;
  align-items: center; /* Align items vertically */
}

.auth-buttons form {
  margin-left: 10px; /* Add space between buttons */
}

.auth-buttons button {
  padding: 5px 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  display: flex;
}

.auth-buttons button:hover {
  background-color: #45a049;
}

.main-nav {
  display: flex;
  justify-content: left;
  background-color: #4caf50;
  padding: 10px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.main-nav a:hover {
  text-decoration: underline;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  background: url("hero-image.jpg") no-repeat center center/cover;
  color: white;
}

.hero-section h2 {
  font-size: 2.5em;
  margin: 0;
}

.hero-section p {
  font-size: 1.2em;
  margin: 10px 0;
}

.hero-section button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.hero-section button:hover {
  background-color: #45a049;
}

.category-section {
  padding: 20px;
  text-align: center;
}

.category-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-item {
  background-color: #e0e0e0;
  width: 45%;
  height: 150px;
  margin: 10px 0;
}

